<div class="jumbotron header">
  <h1>Server Information</h1>
</div>

<div class="main-content">
  <div class="contentbox">
    <h2>Server #1 - Main/Hub | <%= image_tag "connect.png" %></h2>
    <p>Valve Map Only Rotation.</p>
  </div>

  <div class="contentbox">
    <h2>Server #2 - Custom Maps | <%= image_tag "connect.png" %></h2>
    <p>Custom Map Only Rotation.</p>
  </div>

  <div class="contentbox">
    <h2>Server #3 - Mann vs. Machine | <%= image_tag "connect.png" %></h2>
    <p>Mann vs. Machine only, all Valve MvM maps with a variety of maps.</p>
  </div>

  <div class="contentbox">
    <h2>Server #4 - MGE | <%= image_tag "connect.png" %></h2>
    <p>1v1 Training Mod. Only uses MGE map.</p>
  </div>

  <div class="contentbox">
    <h2>Server #5 - Custom Gamemodes | <%= image_tag "connect.png" %></h2>
    <p>Rotation of Custom Gamemodes, various maps.</p>
  </div>

  <div class="contentbox">
    <h2>Server #6 - Unusual Trade | <%= image_tag "connect.png" %></h2>
    <p>Server for trading high-tier items.</p>
  </div>

</div>
